absl-py==2.0.0
aiohttp==3.9.0
aiosignal==1.3.1
antlr4-python3-runtime==4.8
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
biopython==1.81
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.5
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
colorama==0.4.6
conllu==4.5.3
Cython==0.29.32
defusedxml==0.7.1
docx2txt==0.8
einops==0.3.0
filelock==3.13.1
frozenlist==1.4.0
fsspec==2023.10.0
fst-pso==1.8.1
ftfy==6.1.3
future==0.18.3
FuzzyTM==2.0.5
gensim==4.3.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
grpcio==1.59.3
huggingface-hub==0.19.4
idna==3.4
importlib-metadata==6.8.0
jellyfish==1.0.0
kornia==0.7.0
langdetect==1.0.9
latent-diffusion==0.0.1
lemmagen3==3.5.0
Markdown==3.5.1
MarkupSafe==2.1.3
miniful==0.0.6
multidict==6.0.4
ndf==0.1.4
numpy==1.26.2
oauthlib==3.2.2
odfpy==1.4.1
omegaconf==2.1.1
Orange3-ImageAnalytics==0.11.0
Orange3-Text==1.13.1
Owlready2==0.43
packaging==23.2
pdfminer3k==1.3.4
Pillow==8.0.0
protobuf==4.23.4
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.0
pyclipper==1.3.0.post4
pyDeprecate==0.3.1
pyFUME==0.2.25
pytorch-lightning==1.4.2
PyYAML==6.0.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.0
scipy==1.11.4
segtok==1.5.11
simhash==2.1.2
simpful==2.11.0
six==1.16.0
smart-open==6.3.0
soupsieve==2.4.1
tabulate==0.9.0
-e git+https://github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318#egg=taming_transformers
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tokenizers==0.15.0
torch==1.11.0
torch-fidelity==0.3.0
torchmetrics==0.6.0
torchvision==0.12.0
tqdm==4.65.0
transformers==4.35.2
tweepy==4.14.0
typing_extensions==4.8.0
ufal.udpipe==1.3.0.1
urllib3==2.1.0
wcwidth==0.2.12
Werkzeug==3.0.1
wikipedia==1.4.0
yake==0.4.8
yarl==1.9.3
zipp==3.17.0
